header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 120px;
  z-index: 99999;
  top: 0;
  background: #33a7db 0% 0% no-repeat padding-box; }
  header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 768px;
    width: 100%;
    height: 50%;
    background: #33a7db 0% 0% no-repeat padding-box;
    z-index: 9999; }
    header .wrapper-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-family: "Roboto Condensed", sans-serif;
      line-height: 65px;
      text-transform: uppercase;
      height: 100%;
      letter-spacing: -2px;
      width: 68%;
      background: #33a7db 0% 0% no-repeat padding-box; }
      header .wrapper-logo a {
        font-size: 40px;
        color: #4e4e4e;
        font-weight: 700;
        text-decoration: none; }
    header .wrapper-menu {
      font-size: 16px;
      color: #4e4e4e;
      font-weight: 700;
      text-decoration: none;
      height: 100%;
      background: #33a7db 0% 0% no-repeat padding-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      text-transform: uppercase; }
      header .wrapper-menu #menu__toggle {
        opacity: 0; }
      header .wrapper-menu .menu_btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 50px;
        height: 100%;
        border: none;
        border-radius: 0;
        background: #33a7db 0% 0% no-repeat padding-box;
        box-sizing: border-box;
        cursor: pointer; }
      header .wrapper-menu .burg {
        width: 64%;
        height: 2%;
        border: none;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.644); }
      header .wrapper-menu .burg::after {
        width: 64%;
        height: 2%;
        border: none;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.644);
        position: absolute;
        top: 35%;
        left: 18%;
        content: ""; }
      header .wrapper-menu .burg::before {
        width: 64%;
        height: 2%;
        border: none;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.644);
        position: absolute;
        top: 64%;
        left: 18%;
        content: ""; }
      header .wrapper-menu .menu__box {
        list-style-type: none;
        position: absolute;
        top: -110%;
        left: 0;
        width: 100%;
        background: #33a7db 0% 0% no-repeat padding-box;
        z-index: -10;
        transition: top 0.9s linear; }
      header .wrapper-menu ul {
        padding: 5px;
        list-style: none; }
        header .wrapper-menu ul * {
          background: #33a7db 0% 0% no-repeat padding-box; }
        header .wrapper-menu ul li {
          padding: 10px; }
          header .wrapper-menu ul li a {
            font-size: 15px;
            color: white;
            font-weight: normal;
            text-decoration: none; }
      header .wrapper-menu #menu__toggle:checked ~ .menu__box {
        top: 100%; }
  header .wrapper-settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 50%;
    z-index: 9999;
    max-width: 768px;
    width: 100%; }
    header .wrapper-settings .wrapper-trial {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 70%;
      height: 100%;
      background: #04be64 0% 0% no-repeat padding-box; }
      header .wrapper-settings .wrapper-trial h2 {
        text-align: center;
        font: Semibold 25px/50px;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1; }
    header .wrapper-settings .wrapper-user {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 30%;
      height: 100%;
      background: #0093d6 0% 0% no-repeat padding-box; }
      header .wrapper-settings .wrapper-user .head {
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 2px solid #ffffff;
        opacity: 1; }
      header .wrapper-settings .wrapper-user .body {
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        width: 29px;
        height: 15px;
        border: 2px solid #ffffff;
        opacity: 1;
        clip-path: circle(54% at center top); }
      header .wrapper-settings .wrapper-user p {
        font-family: "Open Sans", sans-serif;
        color: #ffffff;
        opacity: 1; }

.banner-photo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  height: 577px;
  background-image: url("./assets/blue.png");
  background-size: 140% 100%;
  padding-bottom: 120px;
  max-width: 768px;
  width: 100%;
  margin: 0 auto; }
  .banner-photo h1 {
    max-width: 320px;
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    text-align: center;
    font-family: "Alegreya Sans", sans-serif; }
  .banner-photo span {
    position: relative; }
  .banner-photo span:before {
    display: block;
    content: "";
    width: 1px;
    height: 54px;
    background: #fdd000;
    position: absolute;
    top: -5px;
    right: -5px; }

.banner-information {
  height: 1270px;
  z-index: 999;
  margin: 0 auto; }
  .banner-information .wrapper {
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 100%;
    margin: 0 auto; }
    .banner-information .wrapper .block-line {
      position: absolute;
      background: transparent url("./assets/Trazado 76.svg") 0% 0% no-repeat padding-box;
      opacity: 1;
      top: -154px;
      left: -342.794098px;
      width: 780px;
      height: 1006px;
      transform: scale(0.65); }
    .banner-information .wrapper .block-line2 {
      position: absolute;
      width: 205px;
      height: 705px;
      top: 295px;
      transform: scale(0.8);
      right: -20px;
      background: transparent url("./assets/Trazado 75.svg") 0% 0% no-repeat padding-box; }
    .banner-information .wrapper .block-line3 {
      background: transparent url("./assets/Trazado 162.svg") 0% 0% no-repeat padding-box;
      overflow: hidden;
      content: "";
      display: block;
      position: absolute;
      top: 61%;
      right: -112px;
      width: 735px;
      height: 343px;
      transform: rotate(76deg);
      clear: both;
      z-index: -1; }
    .banner-information .wrapper .block-about-script {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: absolute;
      top: -40px;
      left: 0px;
      width: 260px;
      height: 195px;
      background: #ee6700 0% 0% no-repeat padding-box;
      opacity: 1; }
      .banner-information .wrapper .block-about-script p {
        margin-top: 11px;
        width: 212px;
        height: 116px;
        display: block;
        text-align: left;
        font-family: "Alegreya Sans", sans-serif;
        font-size: 30px;
        color: black;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1; }
    .banner-information .wrapper .block-about-engage-students {
      position: absolute;
      z-index: 1000;
      top: 10%;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .banner-information .wrapper .block-about-engage-students .block {
        width: 320px;
        height: 191px;
        background: transparent url("./assets/Captura de pantalla 2019-07-30 a las 12.58.43.png") 0% 0% no-repeat padding-box; }
      .banner-information .wrapper .block-about-engage-students p {
        text-align: center;
        font-size: 17px;
        font-family: "Alegreya Sans", sans-serif;
        letter-spacing: 0;
        color: #ee6700;
        opacity: 1;
        margin-top: 11px; }
    .banner-information .wrapper .block-with-video {
      position: absolute;
      z-index: 1000;
      left: 50%;
      top: 29%;
      transform: translate(-50%, 4%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .banner-information .wrapper .block-with-video .block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 302px;
        height: 236px;
        background: #dddddd 0% 0% no-repeat padding-box;
        opacity: 1; }
        .banner-information .wrapper .block-with-video .block .image {
          width: 282px;
          height: 219px;
          background: transparent url("./assets/Captura de pantalla 2019-07-30 a las 12.55.22.png") 0% 0% no-repeat padding-box;
          opacity: 1; }
      .banner-information .wrapper .block-with-video p {
        margin-top: 11px;
        text-align: center;
        font-size: 17px;
        font-family: "Alegreya Sans", sans-serif;
        letter-spacing: 0;
        color: #ee6700;
        opacity: 1; }
    .banner-information .wrapper .block-about-teachers {
      position: absolute;
      top: 53%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .banner-information .wrapper .block-about-teachers .block {
        width: 320px;
        height: 191px;
        background: transparent url("./assets/rawpixel-745949-unsplash.png") 0% 0% no-repeat padding-box; }
      .banner-information .wrapper .block-about-teachers p {
        margin-top: 11px;
        text-align: center;
        font-size: 17px;
        font-family: "Alegreya Sans", sans-serif;
        letter-spacing: 0;
        color: #ee6700;
        opacity: 1; }
    .banner-information .wrapper .block-about-statistik {
      height: 370px;
      width: 100%;
      position: relative;
      top: 71%; }
      .banner-information .wrapper .block-about-statistik-students {
        z-index: 1;
        position: absolute;
        top: 10%;
        right: 10%; }
        .banner-information .wrapper .block-about-statistik-students p {
          text-align: center;
          font-family: "Alegreya Sans", sans-serif;
          letter-spacing: 0;
          color: #ee6700;
          opacity: 1; }
        .banner-information .wrapper .block-about-statistik-students .counter {
          font-size: 30px;
          font-weight: 700; }
      .banner-information .wrapper .block-about-statistik-schools {
        z-index: 1;
        position: absolute;
        top: 35%;
        left: 10%; }
        .banner-information .wrapper .block-about-statistik-schools p {
          font-size: 20px;
          text-align: center;
          font-family: "Alegreya Sans", sans-serif;
          letter-spacing: 0;
          color: #ee6700;
          opacity: 1; }
        .banner-information .wrapper .block-about-statistik-schools .counter {
          font-size: 36px;
          font-weight: 700; }
      .banner-information .wrapper .block-about-statistik-videos {
        z-index: 1;
        position: absolute;
        top: 60%;
        left: 15%;
        transform: translate(8%, -5%); }
        .banner-information .wrapper .block-about-statistik-videos p {
          font-size: 20px;
          text-align: center;
          font-family: "Alegreya Sans", sans-serif;
          letter-spacing: 0;
          color: #ee6700;
          opacity: 1; }
        .banner-information .wrapper .block-about-statistik-videos .counter {
          font-weight: 900;
          font-size: 65px; }

.banner-with-lectors-word {
  height: 730px;
  margin: 0 auto;
  opacity: 1; }
  .banner-with-lectors-word .wrapper {
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 100%;
    margin: 0 auto; }
    .banner-with-lectors-word .wrapper .wrapper-fone {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: row;
      width: 100%;
      height: 72%;
      background: #fdd000 0% 0% no-repeat padding-box; }
      .banner-with-lectors-word .wrapper .wrapper-fone .element-visible {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: absolute;
        top: 7%;
        width: 300px;
        height: 478px;
        background: #33a9df 0% 0% no-repeat padding-box;
        opacity: 1; }
        .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .button-right {
          width: 20px;
          height: 20px;
          border-right: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          transform: rotate(136deg);
          position: relative;
          left: 4%; }
        .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .button-left {
          width: 20px;
          height: 20px;
          border-right: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          transform: rotate(-45deg);
          position: relative;
          right: 4%; }
        .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 85%;
          height: 80%; }
          .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content img {
            margin-bottom: 40px; }
          .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content h3 {
            width: 232px;
            height: 125px;
            margin: 0 24px 90px 24px;
            text-align: center;
            font-size: 24px;
            font-family: "Alegreya Sans", sans-serif;
            letter-spacing: 0;
            color: #ffffff; }
          .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content span {
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            font: Black;
            font-family: "Alegreya Sans", sans-serif;
            color: #ffffff;
            opacity: 1;
            letter-spacing: -0.14px; }
          .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content p {
            width: 94px;
            height: 31px;
            font-size: 10px;
            text-align: center;
            font: Black;
            font-family: "Alegreya Sans", sans-serif;
            letter-spacing: 0;
            color: #ffffff;
            opacity: 1; }
    .banner-with-lectors-word .wrapper .wrapper-block-with-social-media {
      position: relative;
      top: -10px;
      height: 28%;
      width: 100%;
      background: #fdd000 0% 0% no-repeat padding-box; }
      .banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 45px 5px 45px 20px;
        position: absolute;
        top: 45%;
        width: 260px;
        z-index: 9999;
        height: 195px;
        background: #7359e4 0% 0% no-repeat padding-box;
        opacity: 1; }
        .banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block h3 {
          text-align: left;
          font-size: 30px;
          font-family: "Alegreya Sans", sans-serif;
          letter-spacing: 0;
          color: #ffffff;
          opacity: 1; }
        .banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block .block {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: row; }
          .banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block .block p {
            text-align: left;
            font-size: 16px;
            font-family: "Alegreya Sans", sans-serif;
            letter-spacing: 0;
            color: #ffffff;
            opacity: 1;
            padding-right: 50px; }
          .banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block .block img {
            width: inherit;
            height: 15px;
            padding-right: 10px; }

.banner-with-circle {
  height: 500px;
  margin: 0 auto;
  opacity: 1; }
  .banner-with-circle .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 100%;
    margin: 0 auto; }
    .banner-with-circle .wrapper .line1 {
      position: absolute;
      right: 0;
      top: -155px;
      width: 262px;
      height: 313px;
      background: url("./assets/Trazado 71.svg") 0% 0% no-repeat padding-box;
      opacity: 1; }
    .banner-with-circle .wrapper .line2 {
      position: absolute;
      top: 0;
      left: 0;
      background: transparent url("./assets/Trazado 162.svg") 0% 0% no-repeat padding-box; }
    .banner-with-circle .wrapper .slider {
      width: 100%;
      height: 30%;
      background: chocolate; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

footer {
  height: 939px;
  margin: 0 auto;
  opacity: 1; }
  footer .footer-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
    background: navy; }
    footer .footer-wrapper .block-with-who-trusted-us {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 28%;
      width: 100%;
      background: #0093d6 0% 0% no-repeat padding-box;
      opacity: 1;
      padding: 10px; }
      footer .footer-wrapper .block-with-who-trusted-us h3 {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        letter-spacing: -0.12px;
        color: #ffffff;
        opacity: 1; }
      footer .footer-wrapper .block-with-who-trusted-us .block-with-schools {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%; }
        footer .footer-wrapper .block-with-who-trusted-us .block-with-schools .oundle {
          margin: 10px;
          width: 67px;
          height: 67px; }
          footer .footer-wrapper .block-with-who-trusted-us .block-with-schools .oundle img {
            width: 100%;
            height: 100%; }
        footer .footer-wrapper .block-with-who-trusted-us .block-with-schools .westminster {
          margin: 10px;
          width: 127px;
          height: 35px; }
          footer .footer-wrapper .block-with-who-trusted-us .block-with-schools .westminster img {
            width: 100%;
            height: 100%; }
        footer .footer-wrapper .block-with-who-trusted-us .block-with-schools .nottingham {
          margin: 10px;
          width: 173px;
          height: 34px; }
          footer .footer-wrapper .block-with-who-trusted-us .block-with-schools .nottingham img {
            width: 100%;
            height: 100%; }
        footer .footer-wrapper .block-with-who-trusted-us .block-with-schools .perse {
          margin: 10px;
          width: 83px;
          height: 63px; }
          footer .footer-wrapper .block-with-who-trusted-us .block-with-schools .perse img {
            width: 100%;
            height: 100%; }
    footer .footer-wrapper .footer-information {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      height: 72%;
      width: 100%;
      background: #33a9df 0% 0% no-repeat padding-box; }
      footer .footer-wrapper .footer-information .contacts {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        padding: 25px;
        width: 100%;
        height: 204px;
        text-align: left;
        font: Bold 12px/20px Open Sans;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1; }
        footer .footer-wrapper .footer-information .contacts .text-information {
          display: flex;
          justify-content: space-around;
          align-items: flex-start;
          flex-direction: column;
          width: 70%;
          height: 100%; }
          footer .footer-wrapper .footer-information .contacts .text-information ul {
            list-style-type: none; }
          footer .footer-wrapper .footer-information .contacts .text-information .block-follow {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column; }
            footer .footer-wrapper .footer-information .contacts .text-information .block-follow ul {
              display: flex;
              justify-content: space-around;
              align-items: flex-start;
              flex-direction: row;
              list-style-type: none; }
              footer .footer-wrapper .footer-information .contacts .text-information .block-follow ul li {
                margin: 10px; }
              footer .footer-wrapper .footer-information .contacts .text-information .block-follow ul li:nth-child(1) {
                margin: 10px 10px 10px 0; }
        footer .footer-wrapper .footer-information .contacts .image-block {
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          flex-direction: column;
          width: 30%;
          height: 100%; }
          footer .footer-wrapper .footer-information .contacts .image-block img {
            width: 100%; }
      footer .footer-wrapper .footer-information hr {
        width: 95%;
        background: transparent; }
      footer .footer-wrapper .footer-information .site-map {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
        height: 70%;
        padding: 10px; }
        footer .footer-wrapper .footer-information .site-map h3 {
          text-align: left;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          letter-spacing: -0.12px;
          color: #ffffff; }
        footer .footer-wrapper .footer-information .site-map ul {
          list-style-type: none; }
          footer .footer-wrapper .footer-information .site-map ul li {
            font-size: 12px;
            font-family: "Open Sans", sans-serif;
            margin: 2px;
            text-align: left;
            letter-spacing: -0.12px;
            color: #ffffff;
            opacity: 1; }
        footer .footer-wrapper .footer-information .site-map .block-about {
          margin: 12px; }
        footer .footer-wrapper .footer-information .site-map .block-second-para {
          margin: 12px;
          display: flex;
          justify-content: flex-end;
          align-items: initial;
          flex-direction: column; }
          footer .footer-wrapper .footer-information .site-map .block-second-para .block-legal h3 {
            margin-top: 10px; }
