header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: unset;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  z-index: 99999;
  top: unset;
  left: unset;
  background: #33a7db; }
  header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 768px;
    width: 100%;
    height: 100%;
    background: #33a7db 0% 0% no-repeat padding-box;
    z-index: 9999; }
    header .wrapper .wrapper-user {
      display: none;
      width: 107px;
      height: 100%;
      background: #0093d6 0% 0% no-repeat padding-box; }
      header .wrapper .wrapper-user .head {
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 2px solid #ffffff;
        opacity: 1; }
      header .wrapper .wrapper-user .body {
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        width: 29px;
        height: 15px;
        border: 2px solid #ffffff;
        opacity: 1;
        clip-path: circle(54% at center top); }
      header .wrapper .wrapper-user p {
        font-family: "Open Sans", sans-serif;
        color: #ffffff;
        opacity: 1; }
    header .wrapper-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-family: "Roboto Condensed", sans-serif;
      line-height: 65px;
      text-transform: uppercase;
      height: 100%;
      letter-spacing: -2px;
      width: 68%;
      background: #33a7db 0% 0% no-repeat padding-box; }
      header .wrapper-logo a {
        font-size: 40px;
        color: #4e4e4e;
        font-weight: 700;
        text-decoration: none; }
      header .wrapper-logo p {
        display: none; }
    header .wrapper-list ul {
      display: none; }
    header .wrapper .settings-country-selector {
      display: none;
      margin: 0 10px; }
      header .wrapper .settings-country-selector .spain,
      header .wrapper .settings-country-selector .france,
      header .wrapper .settings-country-selector .italy,
      header .wrapper .settings-country-selector .usa,
      header .wrapper .settings-country-selector .england,
      header .wrapper .settings-country-selector .china {
        width: 34px;
        height: 34px;
        background: #ffffff 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 50%;
        margin: 0 6px;
        border: 3px solid white; }
      header .wrapper .settings-country-selector .spain {
        border: 3px solid white;
        background: url("./assets/es.svg") no-repeat;
        background-size: 135%;
        background-position: center; }
      header .wrapper .settings-country-selector .france {
        background: url("./assets/fr.svg") no-repeat;
        background-size: 135%;
        background-position: center; }
      header .wrapper .settings-country-selector .italy {
        background: url("./assets/it.svg") no-repeat;
        background-size: 135%;
        background-position: center; }
      header .wrapper .settings-country-selector .usa {
        background: url("./assets/us.svg") no-repeat;
        background-size: 135%;
        background-position: center; }
      header .wrapper .settings-country-selector .england {
        background: url("./assets/gb.svg") no-repeat;
        background-size: 135%;
        background-position: center; }
      header .wrapper .settings-country-selector .china {
        background: url("./assets/cn.svg") no-repeat;
        background-size: 135%;
        background-position: center; }
    header .wrapper-menu {
      font-size: 16px;
      color: #4e4e4e;
      font-weight: 700;
      text-decoration: none;
      height: 100%;
      background: #33a7db 0% 0% no-repeat padding-box;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      text-transform: uppercase; }
      header .wrapper-menu #menu__toggle {
        opacity: 0; }
      header .wrapper-menu .menu_btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 50px;
        height: 100%;
        border: none;
        border-radius: 0;
        background: #33a7db 0% 0% no-repeat padding-box;
        box-sizing: border-box;
        cursor: pointer; }
      header .wrapper-menu .burg {
        width: 64%;
        height: 2%;
        border: none;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.644); }
      header .wrapper-menu .burg::after {
        width: 64%;
        height: 2%;
        border: none;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.644);
        position: absolute;
        top: 35%;
        left: 18%;
        content: ""; }
      header .wrapper-menu .burg::before {
        width: 64%;
        height: 2%;
        border: none;
        border-radius: 0;
        background: rgba(255, 255, 255, 0.644);
        position: absolute;
        top: 64%;
        left: 18%;
        content: ""; }
      header .wrapper-menu .menu__box {
        list-style-type: none;
        position: absolute;
        top: -110%;
        left: 0;
        width: 100%;
        background: #33a7db 0% 0% no-repeat padding-box;
        z-index: -10;
        transition: top 0.5s linear; }
      header .wrapper-menu ul {
        padding: 5px;
        list-style: none; }
        header .wrapper-menu ul * {
          background: #33a7db 0% 0% no-repeat padding-box; }
        header .wrapper-menu ul li {
          padding: 10px; }
          header .wrapper-menu ul li a {
            font-size: 15px;
            color: white;
            font-weight: normal;
            text-decoration: none; }
      header .wrapper-menu #menu__toggle:checked ~ .menu__box {
        top: 90%; }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 99998;
  position: fixed;
  top: 60px;
  height: 60px;
  right: 0;
  left: 0;
  margin: 0 auto; }
  nav .wrapper-settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 100%;
    z-index: 1000;
    max-width: 768px;
    width: 100%; }
    nav .wrapper-settings .wrapper-trial {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 70%;
      height: 100%;
      background: #04be64 0% 0% no-repeat padding-box; }
      nav .wrapper-settings .wrapper-trial h2 {
        text-align: center;
        font: Semibold 25px/50px;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1; }
    nav .wrapper-settings .wrapper-user {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 30%;
      height: 100%;
      background: #0093d6 0% 0% no-repeat padding-box; }
      nav .wrapper-settings .wrapper-user .head {
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 2px solid #ffffff;
        opacity: 1; }
      nav .wrapper-settings .wrapper-user .body {
        border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        width: 29px;
        height: 15px;
        border: 2px solid #ffffff;
        opacity: 1;
        clip-path: circle(54% at center top); }
      nav .wrapper-settings .wrapper-user p {
        font-family: "Open Sans", sans-serif;
        color: #ffffff;
        opacity: 1; }

.banner-photo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  height: 577px;
  background-image: url("./assets/blue.png");
  background-size: 140% 100%;
  padding-bottom: 120px;
  width: 100%;
  margin: 0 auto; }
  .banner-photo h1 {
    max-width: 320px;
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    text-align: center;
    font-family: "Alegreya Sans", sans-serif; }
  .banner-photo span {
    position: relative; }
  .banner-photo span:before {
    display: block;
    content: "";
    width: 1px;
    height: 54px;
    background: #fdd000;
    position: absolute;
    top: -5px;
    right: -5px; }

.banner-information {
  height: 1270px;
  z-index: 999;
  margin: 0 auto; }
  .banner-information .wrapper {
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 100%;
    margin: 0 auto; }
    .banner-information .wrapper .wrapper-clock {
      display: none;
      position: absolute;
      top: 5%;
      z-index: 2000;
      right: 5%;
      width: 102px;
      height: 101px;
      background: transparent url("./assets/Grupo 86.svg") 0% 0% no-repeat padding-box; }
    .banner-information .wrapper .block-line {
      position: absolute;
      background: transparent url("./assets/Trazado 76.svg") 0% 0% no-repeat padding-box;
      opacity: 1;
      top: -154px;
      left: -342.794098px;
      width: 780px;
      height: 1006px;
      transform: scale(0.65); }
    .banner-information .wrapper .block-line2 {
      position: absolute;
      width: 205px;
      height: 705px;
      top: 295px;
      transform: scale(0.8);
      right: -20px;
      background: transparent url("./assets/Trazado 75.svg") 0% 0% no-repeat padding-box; }
    .banner-information .wrapper .block-line3 {
      background: transparent url("./assets/Trazado 162.svg") 0% 0% no-repeat padding-box;
      overflow: hidden;
      content: "";
      display: block;
      position: absolute;
      top: 61%;
      right: -112px;
      width: 735px;
      height: 343px;
      transform: rotate(76deg);
      clear: both;
      z-index: -1; }
    .banner-information .wrapper .block-line4 {
      transform: scale(-1, -1) rotate(158deg);
      background: transparent url("./assets/Trazado 75 (1).svg");
      top: 93%;
      position: absolute;
      width: 587px;
      height: 655px;
      right: 40%; }
    .banner-information .wrapper .block-about-script {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: absolute;
      top: -40px;
      left: 0px;
      width: 260px;
      height: 195px;
      background: #ee6700 0% 0% no-repeat padding-box;
      opacity: 1; }
      .banner-information .wrapper .block-about-script p {
        margin-top: 11px;
        width: 212px;
        height: 116px;
        display: block;
        text-align: left;
        font-family: "Alegreya Sans", sans-serif;
        font-size: 30px;
        color: black;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1; }
    .banner-information .wrapper .block-about-engage-students {
      position: absolute;
      z-index: 1000;
      top: 10%;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .banner-information .wrapper .block-about-engage-students .block {
        width: 320px;
        height: 191px;
        background: transparent url("./assets/Captura de pantalla 2019-07-30 a las 12.58.43.png") 0% 0% no-repeat padding-box; }
      .banner-information .wrapper .block-about-engage-students p {
        text-align: center;
        font-size: 17px;
        font-family: "Alegreya Sans", sans-serif;
        letter-spacing: 0;
        color: #ee6700;
        opacity: 1;
        margin-top: 11px; }
    .banner-information .wrapper .block-with-video {
      position: absolute;
      z-index: 1000;
      left: 50%;
      top: 29%;
      transform: translate(-50%, 4%);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .banner-information .wrapper .block-with-video .block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 302px;
        height: 236px;
        background: #dddddd 0% 0% no-repeat padding-box;
        opacity: 1; }
        .banner-information .wrapper .block-with-video .block .image {
          width: 282px;
          height: 219px;
          background: transparent url("./assets/Captura de pantalla 2019-07-30 a las 12.55.22.png") 0% 0% no-repeat padding-box;
          opacity: 1; }
      .banner-information .wrapper .block-with-video p {
        margin-top: 11px;
        text-align: center;
        font-size: 17px;
        font-family: "Alegreya Sans", sans-serif;
        letter-spacing: 0;
        color: #ee6700;
        opacity: 1; }
    .banner-information .wrapper .block-about-teachers {
      position: absolute;
      top: 53%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .banner-information .wrapper .block-about-teachers .block {
        width: 320px;
        height: 191px;
        background: transparent url("./assets/rawpixel-745949-unsplash.png") 0% 0% no-repeat padding-box; }
      .banner-information .wrapper .block-about-teachers p {
        margin-top: 11px;
        text-align: center;
        font-size: 17px;
        font-family: "Alegreya Sans", sans-serif;
        letter-spacing: 0;
        color: #ee6700;
        opacity: 1; }
    .banner-information .wrapper .block-about-statistik {
      height: 370px;
      width: 100%;
      position: relative;
      top: 71%; }
      .banner-information .wrapper .block-about-statistik-students {
        z-index: 1;
        position: absolute;
        top: 10%;
        right: 10%; }
        .banner-information .wrapper .block-about-statistik-students p {
          text-align: center;
          font-family: "Alegreya Sans", sans-serif;
          letter-spacing: 0;
          color: #ee6700;
          opacity: 1; }
        .banner-information .wrapper .block-about-statistik-students .counter {
          font-size: 30px;
          font-weight: 700; }
      .banner-information .wrapper .block-about-statistik-schools {
        z-index: 1;
        position: absolute;
        top: 35%;
        left: 10%; }
        .banner-information .wrapper .block-about-statistik-schools p {
          font-size: 20px;
          text-align: center;
          font-family: "Alegreya Sans", sans-serif;
          letter-spacing: 0;
          color: #ee6700;
          opacity: 1; }
        .banner-information .wrapper .block-about-statistik-schools .counter {
          font-size: 36px;
          font-weight: 700; }
      .banner-information .wrapper .block-about-statistik-videos {
        z-index: 1;
        position: absolute;
        top: 60%;
        left: 15%;
        transform: translate(8%, -5%); }
        .banner-information .wrapper .block-about-statistik-videos p {
          font-size: 20px;
          text-align: center;
          font-family: "Alegreya Sans", sans-serif;
          letter-spacing: 0;
          color: #ee6700;
          opacity: 1; }
        .banner-information .wrapper .block-about-statistik-videos .counter {
          font-weight: 900;
          font-size: 65px; }

.banner-with-lectors-word {
  height: 730px;
  margin: 0 auto;
  opacity: 1; }
  .banner-with-lectors-word .wrapper {
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 100%;
    margin: 0 auto; }
    .banner-with-lectors-word .wrapper .wrapper-fone {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: row;
      width: 100%;
      height: 72%;
      background: #fdd000 0% 0% no-repeat padding-box; }
      .banner-with-lectors-word .wrapper .wrapper-fone .line1 {
        display: none;
        top: -23%;
        z-index: 9999;
        right: 0;
        position: absolute;
        width: 113px;
        height: 655px;
        background: url("./assets/Trazado 75 (1).svg") 0% 0% no-repeat padding-box;
        transform: rotate(45deg), scale(-1, -1); }
      .banner-with-lectors-word .wrapper .wrapper-fone .element-visible {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: absolute;
        top: 7%;
        width: 300px;
        height: 478px;
        background: #33a9df 0% 0% no-repeat padding-box;
        opacity: 1; }
        .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .button-right {
          width: 20px;
          height: 20px;
          border-right: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          transform: rotate(-45deg);
          position: relative;
          right: 4%; }
        .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .button-left {
          width: 20px;
          height: 20px;
          border-right: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          transform: rotate(136deg);
          position: relative;
          left: 4%; }
        .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 85%;
          height: 80%; }
          .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content img {
            width: 30%;
            height: 25%;
            margin: 0 30px 40px 30px; }
          .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content h3 {
            width: 232px;
            height: 125px;
            margin: 0 24px 90px 24px;
            text-align: center;
            font-size: 24px;
            font-family: "Alegreya Sans", sans-serif;
            letter-spacing: 0;
            color: #ffffff; }
          .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content span {
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            font: Black;
            font-family: "Alegreya Sans", sans-serif;
            color: #ffffff;
            opacity: 1;
            letter-spacing: -0.14px; }
          .banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content p {
            width: 94px;
            height: 31px;
            font-size: 10px;
            text-align: center;
            font: Black;
            font-family: "Alegreya Sans", sans-serif;
            letter-spacing: 0;
            color: #ffffff;
            opacity: 1; }
    .banner-with-lectors-word .wrapper .wrapper-block-with-social-media {
      position: relative;
      top: -10px;
      height: 28%;
      width: 100%;
      background: #fdd000 0% 0% no-repeat padding-box; }
      .banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        padding: 45px 5px 45px 20px;
        position: absolute;
        top: 45%;
        width: 260px;
        z-index: 9999;
        height: 195px;
        background: #7359e4 0% 0% no-repeat padding-box;
        opacity: 1; }
        .banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block h3 {
          text-align: left;
          font-size: 30px;
          font-family: "Alegreya Sans", sans-serif;
          letter-spacing: 0;
          color: #ffffff;
          opacity: 1; }
        .banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block .block {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: row; }
          .banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block .block p {
            text-align: left;
            font-size: 16px;
            font-family: "Alegreya Sans", sans-serif;
            letter-spacing: 0;
            color: #ffffff;
            opacity: 1;
            padding-right: 50px; }
          .banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block .block img {
            width: inherit;
            height: 15px;
            padding-right: 10px; }

.banner-with-circle {
  height: 500px;
  margin: 0 auto;
  opacity: 1; }
  .banner-with-circle .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 100%;
    margin: 0 auto; }
    .banner-with-circle .wrapper .line1 {
      position: absolute;
      right: 0;
      top: -155px;
      width: 262px;
      height: 313px;
      background: url("./assets/Trazado 71.svg") 0% 0% no-repeat padding-box;
      opacity: 1; }
    .banner-with-circle .wrapper .line2 {
      position: absolute;
      top: 0;
      left: 0;
      background: transparent url("./assets/Trazado 162.svg") 0% 0% no-repeat padding-box; }
    .banner-with-circle .wrapper .slider {
      position: relative;
      top: 0;
      right: 0;
      width: 85%;
      height: 188px;
      z-index: 100; }
      .banner-with-circle .wrapper .slider .gallery {
        width: 100%;
        height: 100%; }
      .banner-with-circle .wrapper .slider .slick-slide {
        /* margin: 0px 20px; */
        margin: 0 10px 0 0; }
      .banner-with-circle .wrapper .slider .block {
        width: 188px;
        height: 188px;
        background: #7359e4 0% 0% no-repeat padding-box;
        margin-right: 20px; }
        .banner-with-circle .wrapper .slider .block p {
          margin: 10px;
          text-align: left;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          letter-spacing: -0.22px;
          color: #ffffff;
          opacity: 1; }

footer {
  height: 639px;
  margin: 0 auto;
  opacity: 1;
  background: #33a9df; }
  footer .footer-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 100%;
    margin: 0 auto;
    background: navy; }
    footer .footer-wrapper .footer-information {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      background: #33a9df 0% 0% no-repeat padding-box; }
      footer .footer-wrapper .footer-information .contacts {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        position: relative;
        padding: 25px;
        width: 100%;
        height: 204px;
        text-align: left;
        font: Bold 12px/20px Open Sans;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1; }
        footer .footer-wrapper .footer-information .contacts .text-information {
          display: flex;
          justify-content: space-around;
          align-items: flex-start;
          flex-direction: column;
          width: 70%;
          height: 100%; }
          footer .footer-wrapper .footer-information .contacts .text-information h3 {
            font-size: 12px;
            margin-bottom: 5px; }
          footer .footer-wrapper .footer-information .contacts .text-information ul {
            list-style-type: none;
            margin-bottom: 5px; }
            footer .footer-wrapper .footer-information .contacts .text-information ul li {
              font-size: 12px; }
          footer .footer-wrapper .footer-information .contacts .text-information .block-follow {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column; }
            footer .footer-wrapper .footer-information .contacts .text-information .block-follow ul {
              display: flex;
              justify-content: space-around;
              align-items: flex-start;
              flex-direction: row;
              list-style-type: none; }
              footer .footer-wrapper .footer-information .contacts .text-information .block-follow ul li {
                margin: 10px; }
              footer .footer-wrapper .footer-information .contacts .text-information .block-follow ul li:nth-child(1) {
                margin: 10px 10px 10px 0; }
        footer .footer-wrapper .footer-information .contacts .image-block {
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          flex-direction: column;
          width: 30%;
          height: 100%; }
          footer .footer-wrapper .footer-information .contacts .image-block img {
            width: 100%; }
      footer .footer-wrapper .footer-information .contacts::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 80%;
        background: white;
        bottom: 0; }
      footer .footer-wrapper .footer-information .site-map {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;
        height: 70%;
        padding: 10px; }
        footer .footer-wrapper .footer-information .site-map h3 {
          text-align: left;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          letter-spacing: -0.12px;
          color: #ffffff; }
        footer .footer-wrapper .footer-information .site-map ul {
          list-style-type: none; }
          footer .footer-wrapper .footer-information .site-map ul li {
            font-size: 12px;
            font-family: "Open Sans", sans-serif;
            margin: 2px;
            text-align: left;
            letter-spacing: -0.12px;
            color: #ffffff;
            opacity: 1; }
        footer .footer-wrapper .footer-information .site-map .block-about {
          margin: 12px; }
        footer .footer-wrapper .footer-information .site-map .block-second-para {
          margin: 12px;
          display: flex;
          justify-content: flex-end;
          align-items: initial;
          flex-direction: column; }
          footer .footer-wrapper .footer-information .site-map .block-second-para .block-legal h3 {
            margin-top: 10px; }

section.foot {
  margin: 0 auto;
  opacity: 1;
  background: #0093d6 0% 0% no-repeat padding-box; }
  section.foot .block-with-who-trusted-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 28%;
    width: 100%;
    background: #0093d6 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 10px; }
    section.foot .block-with-who-trusted-us h3 {
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      letter-spacing: -0.12px;
      color: #ffffff;
      opacity: 1; }
    section.foot .block-with-who-trusted-us .block-with-schools {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      width: 100%; }
      section.foot .block-with-who-trusted-us .block-with-schools .oundle {
        margin: 10px;
        width: 67px;
        height: 67px; }
        section.foot .block-with-who-trusted-us .block-with-schools .oundle img {
          width: 100%;
          height: 100%; }
      section.foot .block-with-who-trusted-us .block-with-schools .westminster {
        margin: 10px;
        width: 127px;
        height: 35px; }
        section.foot .block-with-who-trusted-us .block-with-schools .westminster img {
          width: 100%;
          height: 100%; }
      section.foot .block-with-who-trusted-us .block-with-schools .nottingham {
        margin: 10px;
        width: 173px;
        height: 34px; }
        section.foot .block-with-who-trusted-us .block-with-schools .nottingham img {
          width: 100%;
          height: 100%; }
      section.foot .block-with-who-trusted-us .block-with-schools .perse {
        margin: 10px;
        width: 83px;
        height: 63px; }
        section.foot .block-with-who-trusted-us .block-with-schools .perse img {
          width: 100%;
          height: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@media (min-width: 768px) {
  header {
    height: 90px; }
    header .wrapper {
      max-width: 1024px; }
      header .wrapper .wrapper-logo {
        justify-content: flex-start; }
        header .wrapper .wrapper-logo img {
          margin-left: 50px; }
      header .wrapper-menu #menu__toggle:checked ~ .menu__box {
        top: 90%; }
      header .wrapper-menu .menu__box {
        top: -150%; }
      header .wrapper .settings-country-selector {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        position: absolute;
        left: 49%; }
  nav {
    height: 90px;
    top: 90px;
    align-items: flex-end;
    margin: 0 auto; }
    nav .wrapper-settings {
      max-width: 1024px;
      width: 50%; }
  section.banner-photo {
    height: 934px;
    align-items: center; }
    section.banner-photo h1 {
      max-width: 768px; }
  section.banner-information {
    height: 1150px; }
    section.banner-information .wrapper {
      max-width: 1024px; }
      section.banner-information .wrapper .block-line4 {
        right: 50%; }
      section.banner-information .wrapper .block-about-script {
        top: -55px;
        left: 30px;
        width: 365px;
        height: 220px; }
        section.banner-information .wrapper .block-about-script p {
          font-size: 31px;
          font-weight: bold;
          width: 250px; }
      section.banner-information .wrapper .wrapper-clock {
        display: inline; }
      section.banner-information .wrapper .block-about-engage-students {
        top: 18%;
        right: 56%;
        transform: scale(0.9);
        align-items: flex-start; }
        section.banner-information .wrapper .block-about-engage-students p {
          font-size: 20px; }
      section.banner-information .wrapper .block-about-teachers {
        top: 14%;
        right: 7%;
        transform: scale(1.2, 1.5);
        align-items: flex-end; }
        section.banner-information .wrapper .block-about-teachers p {
          font-size: 17px; }
      section.banner-information .wrapper .block-with-video {
        left: 25%;
        top: 30%;
        transform: none; }
      section.banner-information .wrapper .block-line {
        z-index: 1001;
        top: -620px;
        left: -330.794098px;
        width: 810px;
        height: 1018px;
        transform: scale(1); }
      section.banner-information .wrapper .block-line2 {
        position: absolute;
        width: 350px;
        height: 713px;
        top: 50px;
        transform: scale(1);
        right: 0; }
      section.banner-information .wrapper .block-line3 {
        position: absolute;
        transform: rotate(76deg) scale(1);
        top: 51%;
        right: 31%;
        /* left: -26%; */
        width: 739px;
        height: 583px; }
      section.banner-information .wrapper .block-about-statistik {
        height: 450px;
        top: 55%; }
        section.banner-information .wrapper .block-about-statistik-students {
          top: 10%; }
          section.banner-information .wrapper .block-about-statistik-students .counter {
            font-size: 50px; }
          section.banner-information .wrapper .block-about-statistik-students p {
            font-size: 30px; }
        section.banner-information .wrapper .block-about-statistik-schools {
          top: 25%; }
          section.banner-information .wrapper .block-about-statistik-schools .counter {
            font-size: 70px;
            font-weight: 700; }
          section.banner-information .wrapper .block-about-statistik-schools p {
            font-size: 30px; }
        section.banner-information .wrapper .block-about-statistik-videos {
          top: 50%; }
          section.banner-information .wrapper .block-about-statistik-videos .counter {
            font-size: 130px; }
          section.banner-information .wrapper .block-about-statistik-videos p {
            font-size: 35px; }
  section.banner-with-lectors-word {
    height: 1053px; }
    section.banner-with-lectors-word .wrapper {
      max-width: 1024px; }
      section.banner-with-lectors-word .wrapper .wrapper-fone .line1 {
        display: block; }
      section.banner-with-lectors-word .wrapper .wrapper-fone .element-visible {
        width: 668px;
        height: 699px; }
        section.banner-with-lectors-word .wrapper .wrapper-fone .element-visible .button-left,
        section.banner-with-lectors-word .wrapper .wrapper-fone .element-visible .button-right {
          width: 55px;
          height: 55px; }
        section.banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content {
          align-items: flex-start; }
          section.banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content img {
            width: 30%;
            height: 30%; }
          section.banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content h3 {
            width: unset;
            height: unset;
            text-align: left;
            font-size: 38px;
            margin: 0 30px 90px 30px; }
          section.banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content span {
            margin: 0 30px;
            font-weight: bold;
            font-size: 26px;
            text-align: left;
            letter-spacing: -0.26px; }
          section.banner-with-lectors-word .wrapper .wrapper-fone .element-visible .block-with-content p {
            width: 300px;
            margin: 0 30px;
            font-size: 16px;
            text-align: left; }
      section.banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block {
        padding: 65px 0 65px 60px;
        width: 60%;
        height: 90%;
        top: 40%; }
        section.banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block h3 {
          font-size: 50px; }
        section.banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block .block img {
          width: 100%;
          height: 100%; }
        section.banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block .block p {
          font-size: 30px; }
  section.banner-with-circle {
    height: 440px; }
    section.banner-with-circle .wrapper {
      max-width: 1024px; }
      section.banner-with-circle .wrapper .line1 {
        top: -170px; }
      section.banner-with-circle .wrapper .line2 {
        width: 500px;
        height: 240px;
        top: 200px;
        left: unset;
        right: 0; }
      section.banner-with-circle .wrapper .slider {
        width: 92%; }
  footer {
    height: 460px; }
    footer .footer-wrapper {
      max-width: 1024px; }
      footer .footer-wrapper .block-with-who-trusted-us .block-with-schools {
        justify-content: space-around; }
      footer .footer-wrapper .footer-information {
        flex-direction: row-reverse;
        align-items: unset; }
        footer .footer-wrapper .footer-information .site-map {
          height: unset; }
          footer .footer-wrapper .footer-information .site-map .block-about h3 {
            font-size: 16px; }
          footer .footer-wrapper .footer-information .site-map .block-about ul li {
            font-weight: 100;
            font-size: 15px; }
          footer .footer-wrapper .footer-information .site-map .block-second-para .block-for-teacher h3 {
            font-size: 16px; }
          footer .footer-wrapper .footer-information .site-map .block-second-para .block-for-teacher ul li {
            font-weight: 100;
            font-size: 15px; }
          footer .footer-wrapper .footer-information .site-map .block-second-para .block-legal h3 {
            font-size: 16px; }
          footer .footer-wrapper .footer-information .site-map .block-second-para .block-legal ul li {
            font-weight: 100;
            font-size: 15px; }
        footer .footer-wrapper .footer-information .contacts {
          flex-direction: column;
          margin-top: 20px; }
          footer .footer-wrapper .footer-information .contacts .text-information h3 {
            font-size: 16px; }
        footer .footer-wrapper .footer-information .contacts::after {
          height: 135%;
          width: 1px;
          left: 0;
          top: 10px; } }

@media (min-width: 1024px) {
  header {
    max-width: none;
    height: 90px; }
    header .wrapper .wrapper-logo {
      width: unset; }
      header .wrapper .wrapper-logo p {
        margin-left: 10px;
        display: block;
        text-transform: capitalize;
        color: white;
        text-align: left;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        letter-spacing: -0.24px;
        color: #ffffff; }
    header .wrapper .wrapper-list {
      position: absolute;
      left: 45%; }
      header .wrapper .wrapper-list ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; }
        header .wrapper .wrapper-list ul li {
          list-style-type: none;
          color: white;
          margin: 0 10px; }
    header .wrapper .settings-country-selector {
      right: 10%;
      left: unset; }
      header .wrapper .settings-country-selector .spain,
      header .wrapper .settings-country-selector .france,
      header .wrapper .settings-country-selector .italy,
      header .wrapper .settings-country-selector .usa,
      header .wrapper .settings-country-selector .england,
      header .wrapper .settings-country-selector .china {
        margin: 0 3px; }
    header .wrapper .wrapper-menu {
      display: none; }
    header .wrapper .wrapper-user {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      right: 0; }
  nav {
    z-index: 100000; }
    nav .wrapper-settings {
      justify-content: flex-end;
      width: 35%;
      position: absolute; }
      nav .wrapper-settings .wrapper-trial {
        width: 100%; }
      nav .wrapper-settings .wrapper-user {
        display: none; }
  section.banner-photo {
    padding-bottom: 30%;
    align-items: flex-end; }
    section.banner-photo h1 {
      font-size: 33px; }
  section.banner-information .wrapper {
    max-width: unset; }
    section.banner-information .wrapper .block-line4 {
      right: 70%; }
    section.banner-information .wrapper .block-line {
      top: -619px;
      left: -336.794098px;
      transform: scale(1.1); }
    section.banner-information .wrapper .block-line3 {
      right: 50%; }
    section.banner-information .wrapper .block-about-script {
      width: 501px;
      height: 350px; }
      section.banner-information .wrapper .block-about-script p {
        font-size: 50px;
        width: unset;
        height: unset;
        margin-left: 65px; }
    section.banner-information .wrapper .block-about-engage-students {
      top: 19%; }
    section.banner-information .wrapper .block-with-video {
      left: 37%;
      top: 29%; }
    section.banner-information .wrapper .block-about-teachers {
      transform: scale(1.3, 1.6);
      top: 12%;
      right: 9%; }
    section.banner-information .wrapper .block-about-statistik .block-about-statistik-students .counter {
      font-size: 70px; }
    section.banner-information .wrapper .block-about-statistik .block-about-statistik-schools .counter {
      font-size: 80px; }
    section.banner-information .wrapper .block-about-statistik .block-about-statistik-videos .counter {
      font-size: 140px; }
  section.banner-with-lectors-word .wrapper .wrapper-fone {
    width: 85%;
    height: 58%; }
    section.banner-with-lectors-word .wrapper .wrapper-fone .line1 {
      display: none; }
    section.banner-with-lectors-word .wrapper .wrapper-fone .element-visible {
      width: 94%;
      height: 50%;
      position: absolute;
      left: 5%; }
  section.banner-with-lectors-word .wrapper .wrapper-block-with-social-media {
    width: 85%; }
    section.banner-with-lectors-word .wrapper .wrapper-block-with-social-media .social-network-block {
      width: 609px;
      height: 355px; }
  footer {
    height: 350px; }
    footer .footer-wrapper .footer-information .site-map .block-second-para {
      flex-direction: row; }
    footer .footer-wrapper .footer-information .contacts .image-block img {
      margin-top: 30px;
      width: 70%; } }
