* {
  margin: 0;
  padding: 0;
}
div.desk {
  box-shadow: -1px 8px 1px 5px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -1px 8px 1px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: -1px 8px 1px 5px rgba(0, 0, 0, 1);
  position: relative;
  height: 100vmin;
  width: 100vmin;
  background: wheat;
  border: 2px solid black;
}
div.left,
div.right {
  position: absolute;
  width: 10%;
  height: 100%;
}
div.top,
div.bottom {
  position: absolute;
  height: 12.5%;
  width: 100%;
  background: rgb(216, 216, 216);
}
div.left {
  left: 0;
}
div.right {
  right: 0;
}
div.bottom {
  bottom: 0;
}
div.top {
  float: left;
  top: 0;
}
div.blockLR,
div.blockTB {
  float: left;
  font-size: calc(100vmin-30px);
  text-align: center;
  background: rgb(216, 216, 216);
}
div.blockTB {
  width: 10%;
  height: 100%;
}
div.blockLR {
  width: 100%;
  height: 10%;
}
div.sector1,
div.sector2,
div.sector3,
div.sector4 {
  position: absolute;
  height: 50%;
  width: 50%;
}
.drubofsect {
  height: 50%;
  width: 100%;
}
div.block {
  float: left;
  height: 100%;
  width: 20%;
}
div.block#black {
  background: black;
}
div.block#white {
  background: white;
}

div.halfOfSector {
  float: left;
  width: 100%;
  height: 50%;
}
div.halfOfSector2 {
  float: left;
  width: 100%;
  height: 50%;
}
div.sector2 {
  bottom: 0;
}
div.sector1 {
  left: 0;
}
div.sector3 {
  right: 0;
}
div.sector4 {
  bottom: 0;
  right: 0;
}
#rotate {
  transform: rotate(180deg);
}
