* {
  margin: 0;
  padding: 0;
}
input[type="text"]::-ms-reveal,
input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
a {
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
}
body {
  background: #ebebeb;
}
.wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 942px;
  margin: 0 auto;
  position: relative;
}
.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}
header {
  background: #373737;
  font-family: "Nexa Heavy", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.09px;
}
header .logo {
  height: 66px;
  width: 80px;
  background-color: #f26c4f;
  position: relative;
}
header .logo::after {
  content: "";
  display: block;
  border: 15px solid transparent;
  border-left: 15px solid #f26c4f;
  position: absolute;
  left: 100%;
  top: 18px;
}
header .logo a {
  font-size: 48px;
}
header .wrapper p {
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 23px;
}

/* Nav Block*/

nav {
  background: #474747;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-size: 12px;
  font-weight: 400;
  line-height: 71px;
}
nav .menu {
  height: 69px;
  list-style: none;
  display: flex;
  align-items: center;
}
nav .menu li:not(:first-child) {
  margin-left: 55px;
  position: relative;
}
nav .menu li:first-child {
  margin-left: 24px;
  position: relative;
}
nav .menu li:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 15px;
  display: block;
  background: #767676;
  position: absolute;
  left: 100%;
  top: 40%;
  margin-left: 27px;
}
nav .menu li a:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #f26c4f;
  position: absolute;
  top: 65%;
  margin-top: 20px;
}

/*Section "SOCIAL" */
.nodecorator {
  text-decoration: none;
}
section.social {
  background: #ebebeb;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
section.social .social-wrapper {
  display: flex;
  justify-content: space-between;
  height: 46px;
  margin: 15px auto 10px auto;
}
section.social .search_bar {
  position: relative;
  width: 302px;
}
section.social .search::placeholder {
  color: #959595;
  font-family: "Arial - Bold MT", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 71px;
  letter-spacing: -0.12px;
  padding: 19px 0 15px 20px;
}
section.social .search_img {
  position: absolute;
  top: 28%;
  left: 90%;
}
section.social .social-wrapper .search {
  width: 100%;
  height: 100%;
  border: 0;
}
section.social .social-wrapper .soc {
  display: flex;
  list-style: none;
  align-items: center;
}
section.social .social-wrapper .soc li {
  margin: 17px 0 20px 36px;
}
.soc li a {
  color: #8f8f8f;
}

/* Section 1 Content*/
section.fcontent .wrapper {
  height: 786px;
  flex-direction: column;
}
section.fcontent .firstblock {
  height: 391px;
  margin-bottom: 15px;
  background: #373737;
  position: relative;
  display: flex;
  flex-direction: row;
}
section.fcontent .firstblock .useropt {
  position: absolute;
  top: 83.5%;
  left: 27.5%;
  width: 371px;
  height: 62px;
  box-shadow: 0 1px 1px #000000;
  background-color: #000000;
  opacity: 0.5;
  font-family: "Arial MT", sans-serif;
}
section.fcontent .firstblock .useropt a {
  color: #ffffff;
  line-height: 63px;
  text-decoration: none;
  letter-spacing: -0.16px;
  margin: 24px auto 22px 30px;
}
section.fcontent .firstblock .img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 631px;
  width: 9px;
  height: 391px;
  background: #f26c4f;
}
section.fcontent .firstblock .img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 631px;
  border: 31px solid transparent;
  border-left: 22px solid #f26c4f;
  margin-top: 25px;
}
section.fcontent .firstblock .ftext {
  margin: 45px 45px 0 45px;
}
.ftext h1 {
  color: #ffffff;
  font-family: "Arial-BoldMT", "AdobeInvisFont", "MyriadPro-Regular", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.19px;
  margin-bottom: 17px;
}
.ftext h2 {
  color: #4f4f4f;
  font-size: 25px;
  font-family: "Arial-BoldMT", "AdobeInvisFont", "MyriadPro-Regular", sans-serif;
}
.ftext p {
  color: #a7a7a7;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 22px;
}
.ftext p#t2 {
  margin: 0;
  text-align: end;
}
section.fcontent .secondblock {
  height: 380px;
  display: flex;
  flex-direction: row;
}
section.fcontent .secondblock .ftext {
  margin: 24px 28px auto 28px;
}
section.fcontent .secondblock .ftext h2 {
  color: #4f4f4f;
  font-size: 25px;
  font-family: "Arial-BoldMT", "AdobeInvisFont", "MyriadPro-Regular", sans-serif;
}
section.fcontent .secondblock .ftext p {
  color: #646464;
  line-height: 24px;
  margin-top: 25px;
}
.for-tl-triang .img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 230px;
  border: 35px solid transparent;
  border-top: 35px solid #f26c4f;
  border-right: 35px solid #f26c4f;
}
.plus {
  content: "";
  display: block;
  position: absolute;
  top: 3%;
  left: 90%;
}
section.fcontent .secondblock > div {
  width: 301px;
  position: relative;
}
section.fcontent .secondblock > div:not(:first-child) {
  margin-left: 20px;
}

/* Section 2 Content*/
.wrapper > .img {
  position: absolute;
  top: 33%;
  right: 100%;
  margin-right: 13px;
}
.white_bl {
  background: white;
}
section.scontent .wrapper {
  margin-top: 20px;
  flex-direction: row;
}
section.scontent .firstblock {
  display: flex;
  flex-direction: column;
  width: 624px;
  margin-right: 20px;
  position: relative;
}
section.scontent .firstblock .firstblock1 {
  height: 359px;
  margin-bottom: 13px;
}
section.scontent .firstblock .firstblock1 > div {
  position: relative;
  height: 173px;
}
section.scontent .firstblock .firstblock1 > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 173px;
  background-color: #ce4e32;
}
section.scontent .firstblock .firstblock2::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 98px;
  background-color: #ce4e32;
}
section.scontent .firstblock .firstblock3 > div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 76px;
  background-color: #ce4e32;
}

section.scontent .firstblock .firstblock1 div:not(:last-child) {
  margin-bottom: 13px;
}
section.scontent .firstblock .firstblock1 .ftext {
  position: absolute;
  margin: 30px auto auto 40px;
}
section.scontent .firstblock .firstblock1 .ftext h2 {
  text-shadow: 0 1px 0 #ffffff;
  color: #474747;
  font-family: "Arial - Bold MT", sans-serif;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.24px;
}
section.scontent .firstblock .firstblock1 .ftext p {
  text-shadow: 0 1px 0 #ffffff;
  color: #707070;
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
section.scontent .firstblock .firstblock1 .ftext ul {
  margin: 5px auto 10px auto;
}
section.scontent .firstblock .firstblock1 .ftext li {
  color: #8f8f8f;
  position: relative;
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.1px;
  margin-right: 65px;
}
section.scontent .firstblock .firstblock1 .ftext li:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  left: 100%;
  margin-left: 30px;
  width: 1.5px;
  height: 21px;
  background-color: #dfdfdf;
}

.scontent .firstblock1 > div:hover,
.scontent .firstblock1 > div:hover p#wh,
.scontent .firstblock1 > div:hover ul#wh > li,
.scontent .firstblock1 > div:hover h2#wh,
.scontent .firstblock2:hover,
.scontent .firstblock2:hover p#wh,
.scontent .firstblock2:hover ul#wh > li,
.scontent .firstblock2:hover h2#wh,
.scontent .firstblock3 > div:hover,
.scontent .firstblock3 > div:hover p#wh,
.scontent .firstblock3 > div:hover ul#wh > li,
.scontent .firstblock3 > div:hover h2#wh {
  color: white;
  background: #f26c4f;
}

section.scontent .firstblock .firstblock1 .ftext span img:last-child {
  margin-right: 8px;
}
section.scontent .firstblock .firstblock2 .ftext {
  margin: 25px auto auto 39px;
}
section.scontent .firstblock .firstblock2 {
  height: 98px;
  margin-bottom: 9px;
  position: relative;
}
section.scontent .firstblock .firstblock2 h2 {
  text-shadow: 0 1px 0 #ffffff;
  color: #474747;
  font-family: "Arial - Bold MT", sans-serif;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.24px;
}
section.scontent .firstblock .firstblock2 ul {
  text-shadow: 0 1px 0 #ffffff;
  color: #8f8f8f;
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 0.1px;
}
.firstblock2 li:not(:last-child) {
  margin-right: 18px;
  position: relative;
}
section.scontent .firstblock .firstblock2 .ftext li:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 25%;
  left: 100%;
  margin-left: 10px;
  width: 1.5px;
  height: 12px;
  background-color: #dfdfdf;
}
section.scontent .firstblock .firstblock3 {
  height: 324px;
}
section.scontent .firstblock .firstblock3 > div {
  height: 76px;
  position: relative;
}
section.scontent .firstblock .firstblock3 > div:not(:last-child) {
  margin-bottom: 7px;
}
section.scontent .firstblock .firstblock3 .ftext {
  position: absolute;
  margin: 28px auto auto 39px;
}
section.scontent .firstblock .firstblock3 .ftext h2 {
  text-shadow: 0 1px 0 #ffffff;
  color: #474747;
  font-family: "Arial - Bold MT", sans-serif;
  font-size: 17px;
  letter-spacing: -0.18px;
}
section.scontent .firstblock .firstblock3 .ftext ul {
  margin: 5px auto 10px auto;
}
section.scontent .firstblock .firstblock3 .ftext li {
  color: #8f8f8f;
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  letter-spacing: 0.1px;
  position: relative;
  margin-right: 30px;
}

/*SecondBlock*/
.secondblock {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
}
.secondblock .secondblock1 {
  height: 581px;
  box-shadow: 0 1px 0 #d3d3d3;
  background-color: #373737;
  margin-bottom: 36px;
  position: relative;
}
.secondblock1 .ftext {
  margin: 31px 39px auto 29px;
}
.secondblock1 .ftext h2 {
  color: #ffffff;
  line-height: 31px;
  margin-bottom: 20px;
}
.secondblock1 .ftext p {
  color: #ffffff;
  line-height: 24px;
}
.secondblock .secondblock2 {
  height: 190px;
}
.secondblock2 .ftext h2 {
  text-shadow: 0 1px 0 #ffffff;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.19px;
  margin-bottom: 19px;
}
.secondblock2 .ftext p {
  text-shadow: 0 1px 0 #ffffff;
  color: #a7a7a7;
  line-height: 23px;
  margin: 2px auto auto auto;
}
.secondblock2 .ftext hr {
  height: 1px;
  box-shadow: 0 1px 0 #ffffff;
  background-color: #8f8f8f;
  margin-top: 30px;
}

/* Tcontent */

.tcontent .wrapper {
  height: 1611px;
  margin-top: 23px;
  flex-direction: row;
}
.tcontent .firstblock {
  width: 66%;
  margin-right: 19px;
}

.tcontent .firstblock1 {
  height: 43px;
  margin-bottom: 25px;
}
.tcontent .firstblock1 .readmore {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tcontent .firstblock1 .readmore a {
  display: flex;
  flex-direction: column;
}
.tcontent .firstblock1 p {
  text-shadow: 0 1px 0 #ffffff;
  color: #bdbdbd;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.tcontent .firstblock2 {
  display: flex;
  flex-direction: column;
  height: 380px;
  margin-bottom: 31px;
  font-family: "Arial - Bold MT", sans-serif;
}
.tcontent .firstblock2 .ftext {
  height: 335px;
  margin: 36px 45px auto 50px;
}
.tcontent .firstblock2 h2 {
  color: #707070;
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 28px;
}
.tcontent .firstblock2 p {
  color: #707070;
  font-size: 14px;
  margin-bottom: 24px;
}
.tcontent .firstblock2 .likepad > div > p {
  margin: auto 9px auto 26px;
  color: #a2a2a2;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.tcontent .firstblock2 .likepad .heart {
  position: absolute;
  top: 20%;
  left: 87%;
}
.tcontent .firstblock2 .likepad > div {
  display: flex;
  justify-items: center;
}
.tcontent .firstblock2 span {
  color: #f26c4f;
}
.tcontent .firstblock2 .likepad {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 41px;
  box-shadow: 0 1px 1px #000000;
  background-color: #efefef;
}
.tcontent .firstblock3 {
  display: flex;
  flex-direction: column;
  height: 615px;
  margin-bottom: 32px;
}
.tcontent .img img {
  width: 100%;
  height: 100%;
}
.tcontent .firstblock3 > div {
  height: 308px;
}
.tcontent .firstblock3 .ftext {
  margin: 39px 65px auto 50px;
}
.tcontent .firstblock3 .ftext h2 {
  color: #707070;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 16px;
}
.tcontent .firstblock3 .ftext p:nth-child(2) {
  color: #949494;
  font-family: "Arial MT";
  font-size: 14px;
  margin-bottom: 0;
  line-height: 25px;
}
.tcontent .firstblock3 .ftext p:nth-child(3) {
  line-height: 22px;
}
.tcontent .firstblock4 {
  height: 484px;
}
.tcontent .firstblock4 .ftext {
  padding: 61px 45px 0 50px;
}
.tcontent .firstblock4 .ftext h2 {
  color: #707070;
  font-size: 30px;
  line-height: 25px;
  margin-bottom: 25px;
}
.tcontent .firstblock4 .ftext p {
  color: #949494;
  font-size: 14px;
  line-height: 22px;
}
.tcontent .firstblock4 .ftext p span {
  line-height: 25px;
}
.tcontent .secondblock {
  width: 32%;
}
.tcontent .secondblock2 {
  height: 380px;
}
/* .tcontent .ftext {
  height: 152px;
} */
.tcontent .secondblock ul {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
}
.tcontent .secondblock a {
  position: relative;
  width: 300px;
  height: 44px;
  box-shadow: 0 1px 1px #000000;
  background-color: #ffffff;
  margin-bottom: 7px;
  text-decoration: none;
}
.tcontent .secondblock a::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 44px;
  background-color: #cacaca;
  top: 0;
  left: 0;
}
.tcontent .secondblock a p {
  color: #474747;
  font-family: "Arial - Bold MT", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.16px;
  margin: 8px auto auto 25px;
}
.tcontent .secondblock p > span {
  color: #a7a7a7;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
}
