@import "mix.scss";
nav {
  @include flex($justify: center);
  @include block($h: 55px, $bg: #343a40);
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  .wrapper-nav {
    @include flex($justify: space-between);
    @include block($h: 100%, $bg: #343a40);
    max-width: 576px;
    a {
      @include text($size: 22px, $color: white);
      padding: 5px;
    }
    #menu__toggle {
      opacity: 0;
    }
    .menu__btn {
      position: relative;
      @include flex();
      @include block(
        $w: 45px,
        $h: 38px,
        $border: 1px solid rgba(255, 255, 255, 0.1),
        $bRaduis: 13%,
        $bg: #343a40
      );
      cursor: pointer;
    }
    .burg {
      @include block(
        $w: 50%,
        $h: 2%,
        $border: 1px solid rgba(255, 255, 255, 0.1),
        $bRaduis: 13%,
        $bg: rgba(255, 255, 255, 0.644)
      );
    }
    .burg::after {
      @include block(
        $w: 50%,
        $h: 2%,
        $border: 1px solid rgba(255, 255, 255, 0.1),
        $bRaduis: 13%,
        $bg: rgba(255, 255, 255, 0.644)
      );
      position: absolute;
      top: 20%;
      left: 23%;
      content: "";
    }
    .burg::before {
      @include block(
        $w: 50%,
        $h: 2%,
        $border: 1px solid rgba(255, 255, 255, 0.1),
        $bRaduis: 13%,
        $bg: rgba(255, 255, 255, 0.644)
      );
      position: absolute;
      top: 73%;
      left: 23%;
      content: "";
    }
    .menu__box {
      list-style-type: none;
      position: absolute;
      top: -100%;
      left: 0;
      width: 100vw;
      background: #343a40;
      z-index: -1;
      transition: top 0.5s ease;
    }
    li {
      box-sizing: border-box;
      max-width: 576px;
      margin: 0 auto;
      padding: 0;
      transition: padding 0.5s ease;
    }
    li:hover a {
      @include text($size: 19px, $color: rgba(255, 255, 255, 0.75));
    }
    .menu__item {
      @include text($size: 17px, $color: rgba(255, 255, 255, 0.5));
    }
    #menu__toggle:checked ~ .menu__box {
      top: 100%;
      z-index: 9999;
    }
    #menu__toggle:checked ~ ul li:not(:last-child, :first-child) {
      padding: 8px;
    }
  }
}
